html.body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

* {
  margin: 0px;
  padding: 0px;
  background: #f9f9f9;
  font-family: 'lato', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

.title {
  text-align: start;
  padding: 1em;
  color: white;
  background: #03a9f4;
}
.navigationLeft {
  float: left;
  background: transparent;
  width: 10%;
  white-space: nowrap;
  text-align: left;
}
.navigationRight {
  float: right;
  background: transparent;
  width: 10%;
  white-space: nowrap;
  text-align: right;
}
.navigationPortion {
  display: inline-block;
  background: transparent;
  width: 20%;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}
.navigationReference {
  display: inline-block;
  background: transparent;
  width: 50%;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  padding-left: 1em;
}

.portionTitle {
  display: inline;
  height: 100%;
  background: inherit;
  vertical-align: top;
  font-size: xx-large;
  margin-left: 1em;
  cursor: pointer;
}

.portionsMenu {
  position: absolute;
  left: 10;
  background: rgba(255, 255, 255);
  font-family: sans-serif;
  text-align: left;
  font-size: xx-large;
  width: 40%;
  transition: 0.2s;
  z-index: 9;
  max-height: 0em;
  overflow-y: scroll;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.portionsMenu.expand {
  max-height: 85%;
}
.referenceCount {
  position: absolute;
  top: 12px;
  left: 10%;
  font-size: 1em;
  border-radius: 15px;
  padding: 3px 8px;
  background-color: #FF6F00;
}
.referencesMenu {
  position: absolute;
  left: 10%;
  background: rgba(255, 255, 255);
  text-align: justify;
  font-family: sans-serif;
  font-size: larger;
  transition: 0.2s;
  z-index: 5;
  max-height: 0em;
  overflow-y: scroll;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.referencesMenu.expand {
  max-height: 85%;
}

.reading{
  position: absolute;
  overflow-y: auto;
  max-height: 87%;
  min-width: 100%;
  transition: all .2s ease;
  text-align: justify;
  z-index: 1;
}
.reading.expand {
  max-height: 100%;
  overflow: scroll;
}

.menuItem {
  cursor: pointer;
  padding: 5 20 5 20;
}

.bookName {
  cursor: pointer;
  padding: .5em .5em .2em .5em;
  font-size: xx-large;
  font-weight: lighter;
  text-align: left;
}

.chapter {
  padding: 2em;
}

.chapterName {
  font-weight: bold;
  margin-bottom: .5em;
}

.verseNumber {
  font-size: x-small;
  color: maroon;
  padding-right: 3;
  vertical-align: text-top;
  padding-left: 5;
  font-weight: bold;
  background-color: rgba(198, 199, 181, 0.28);
}

.section {
  text-align: center;
  font-weight: 600;
  letter-spacing: .3em;
  text-indent: .3em;
  text-transform: uppercase;
  /*background: #eeeeee;*/
  color: #333333;
  line-height: 2em;
  text-align: center;
  padding: 2rem 1.25rem 1.25rem;
}
.shareDescription {
  text-align: center;
}
.shareChapter {
  white-space: nowrap;
  max-height: 33px;
  transition: white-space 0.1s;
  transition: max-height 1s;
  font-size: 14px;
  font-weight: 900;
  line-height: 20px;
  background: #ffffff;
  padding: .40rem 1.25rem .40rem;
  text-overflow: ellipsis;
  text-align: justify;
  overflow: hidden;
  cursor: pointer;
  letter-spacing: .1em;
  margin-bottom: .1em;
}
.referenceSubMenu {
  text-align: right;
  padding-right: .5em;
}
